/*** ESTILOS PREDETERMINADOS ***/

* {
  box-sizing: border-box;
  font-family: 'Lato', Arial, sans-serif, helvetica;
}

body {
  background: #F2F2F2;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', Arial, sans-serif, helvetica;
}

h1 {
  color:#258AC1;
  font-size: 50px;
  margin: 50px 0;
  text-align: center;
}

h2 {
  border-bottom: 5px solid #258AC1;
  color: #258AC1;
  margin: 20px 0 40px 0;
  font-size: 30px;
}

/* El boton de tipo submit se va a ocultar, para trabajar con la etiqueta label en el diseño*/
input[type="submit"] {
  display: none;
}

/* Se mostrará solo el botón submit del login y registro*/

#freg input[type="submit"] {
  background: #258AC1;
  display: block;
}

/*** CONTENEDORES PRINCIPALES DE LAS SECCIONES DE LAS PAGINAS ***/

.formtab {
  background: #fff;
  border: 3px solid #258AC1;
  border-radius: 5px;
  margin: 0 auto 42px auto;
  padding: 25px;

  width: 100%;
  max-width: 1500px;
}

section{
  margin-left: 10%;
  margin-right: 10%;
}


/*** TABLAS DE LAS PAGINAS ***/

/* Tablas generales */
.tablas {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.tablas td {
  padding: 10px;
}

.tablas th {
  padding: 20px;
}

.tablas thead {
  background-color:#3CA4DA ;
  color: white;
}

.tablas tr:nth-child(even) {
  background-color: #ddd;
}

/* Tabla de la pagina de perfil personal*/
.tabla-datos-perfil {
  border-collapse: collapse;

  max-width: 1500px;
}

.tabla-datos-perfil tr {
  border-bottom: 1px solid #D9D9D9;
}

.tabla-datos-perfil td {
  
  width: 20%;
  max-width: 200px;
}

.tabla-datos-perfil h4 {
  margin: 0;
}

/*** ICONOS DE LAS PAGINAS ***/

.icon {
  color: #FFF;
  padding: 10px;
  text-align: center;
}

.icon-login-registro {
  background: #258AC1;
  width: 60px;
}

.icon-modify {
  background: #27AE60;
  border: 1px solid #212121;
  margin-right: 10px;
}

.icon-delete {
  background: #EB5757;
  border: 1px solid #212121;
  margin-right: 10px;
}

/*** SECCIONES DE BUSQUEDA Y SECCIONES DE BOTONES DE LAS PAGINAS ***/

@media (min-width:1024px)
{
/* Contenedor para ordenar las secciones que contengan varias filas*/
.search-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* Posicionar el botón de descargas hacia el lado derecho - Página de reportes*/
.downloader-container {
  justify-content: flex-end;
}

/* Contenedor para separar elementos Select*/
.select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.select-container .icon-delete {
  border-radius: 5px;
  padding: 15px;
}

.select-container select,
.select-container input {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

.select-container input {
  background: #F0F0F0;
  border: 1px solid #212121;
}

.select-container h4 {
  margin-right: 10px;
}
.trash {
  margin-left: 450%;
}
}
/*** BOTONES DE LAS PAGINAS ***/

/* Diseño de Botones Submit, creados a partir de label*/
.btn {
  background-color: #27AE60;
  color: white;
  font-weight: bold;
  padding: 5px 50px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius:6px;
}

/* Botón específico para la página de inscripción */
.btn-inscribir {
  margin: 60px 0 30px 0;
  text-align: center;
  width: 100%;
}

.btn-inscribir label {
  padding: 15px 40px;
}

/* Botón específico para la página de perfil de usuario */
.btn-modificar-perfil label {
  padding: 15px 40px;
}

/*** BARRA DE NAVEGACION - HEADER ***/
header{
  width: 100%;
  height: 75px;
  background-color:#3CA4DA  ;
  position: absolute;
  top:0;
  left: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.75);
  font-weight: bold;
}

#navegador{
  width: 88%;
  margin:auto;
}

#menu-bar{
  display: none;
}

header label{
  float: right;
  margin: 8px 0;
  cursor: pointer;
}

.menu{
  position: absolute;
  top:60px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #3CA4DA ;
  opacity: 0.9;
  transition: all 0.5s;
  transform: translateX(-100%);
}

#menu-bar:checked ~ .menu{
transform: translateX(0%);
}
header #navegador{
  display:table;
}

#navegador ul{
  list-style-type: none;
  margin:0px;
  padding:0px;
  text-align: justify;
  background:#3CA4DA ;
  overflow: hidden;
}

#navegador li{
display: block;
height: 50px;
padding: 15px;
}

#navegador li a {
 color:#fff;
 text-decoration: none;
}

#navegador li a:hover{
  color: #ffffff;
}
  .cerrar{
  float: right;
  visibility: hidden;
   }

   .cerrar-m{
    visibility: visible;
     }

/*Ajuste de HEADER para escritorio*/

@media (min-width:960px){
  .menu{
    position: static;
    height: auto;
    transform:translateX(0%);
    float: left;
    display: flex;
    height: 50px;
    width: 70%;
    transition: all 0s;
  }

  #navegador li{
    float: left;
    
    }
  
  #navegador .cerrar{
      color:#fff;
      text-decoration: none;
      list-style-type: none;
      margin-top:14px;
      padding:0px;
      text-align: center;
      background:#3CA4DA ;
      overflow: hidden;
    }

  header label{
      visibility: hidden;
    }

  .menu #cerrar{
      padding-left:33em;
    }
  .cerrar{
   float: right;
   visibility: visible;
    }

  .cerrar-m{
      visibility: hidden;
       }

}

/*** BARRA DE CREDITOS - FOOTER***/

#creditos {
  background-color:#3CA4DA;
  box-shadow: 0 -2px 2px rgba(0,0,0,.75);
  color: #fff;
  padding: 5px 0;
  width: 100%;
  text-align: center;
}

/*** FONDO DE PAGINAS DE REGISTRO E INICIO DE SESION ***/

#freg {
  background-image: url(../img/fondo_.png);
  background-color: #3CA4DA;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 45%;
}

.frm-l {
  margin-top: 300px;
  margin-right: 100%;
  margin-bottom: 300px;
  width: 500px;
}

.frm-r {
  margin-top: 100px;
  margin-right: 50%;
  margin-bottom: 100px;
  width: 435px;
}

/*** PAGINAS DE REGISTRO E INICIO DE SESION ***/

.form-horizontal {
  padding:16px 50px;
  border-radius:10px;
  margin:auto;
  background-color:#fff;
  width: 100%;
  max-width: 500px;
}

.form-horizontal h2 {
  border-bottom: 5px solid #258AC1;
  color: #258AC1;
  font-size: 30px;
  text-transform: uppercase;
}

.form-horizontal h4 {
  margin: 10px 0;
}

.form-horizontal i {
  border: 2px solid #000;
  border-radius: 5px 0 0 5px;
  margin-right: 5px;
  line-height: 1.5;
}

.form-horizontal .input-container {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.form-horizontal .input-field {
  border: 2px solid #000;
  border-radius: 0 5px 5px 0;
  outline: none;
  padding: 13px 10px;
  width: 100%;
}

.form-horizontal .input-field:focus {
  border: 2px solid #3CA4DA;;
}

.form-horizontal .form-options input[type="checkbox"] {
  margin-right: 70px;
}

.form-horizontal .form-options {
  font-weight: bold;
  margin: 25px 0;
  text-align: center;
}

.form-horizontal a {
  color: #258AC1;
}

.form-horizontal .btn {
  border-width: 2px;
  padding: 10px;
  width: 100%;
}

/*** SECCION DEL PERFIL DEL USUARIO - PAGINA DE PERFIL PERSONAL ***/
.contenido{
  margin-top: 7em;
}

.contenido1{
  margin-top: 12.4em;
}

.seccion-perfil {
  background-color: #3CA4DA;
  text-align: center;
}

/* Fotos circulares */
.circular--squaremax {
  border-radius: 50%;
  margin-bottom: 30px;
  width:150px;
}

.circular--squaremin {
  border-radius: 50%;
  width:50px;
  height:50px;
  overflow:hidden;
  margin-top:10px;
  float: left;
}

/*** CUADROS DE MATERIAS INSCRITAS - PAGINA DE PERFIL PERSONAL ***/

.materias-container {
  display: flex;
  align-content: left;
}

.materias-container .formm {
  background-color: #fff;
  border: 2px solid #258AC1;
  box-shadow: 2px 2px 2px rgba(0,0,0,.7);
  border-radius: 5px;
  margin: 0 10px 20px 0;
  padding: 25px;
  width: 24%;
  min-width: 300px;
}

.materias-container .formm h4 {
  color: #3CA4DA;
  font-size: 18px;
}

.materias-container .formm span {
  color: #000;
  margin-right: 15px;
}

.materias-container .formm .btn {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
}



/*** Login responsive celular ***/
@media (max-width:625px){
  #freg{
    background-image: none;
  }

  .frm-l #salario .form-options .olvidar{
      display: flex;
      padding: 10px 0;
      font-size: medium;
      
      
  }

  .form-horizontal .form-options label {
    display: flex;
    width: 60%;
    flex-direction: row;
    
  }

  .form-horizontal .form-options input[type="checkbox"] {
   display:flex;
  justify-content: space-between;
  
  }

   





/*Versión tablet*/
@media (min-width:626px) and (max-width:1023px){
  /*Muesta las materias centradas*/
  .sc-downloader {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  
 
      .sc-tab {
        display: flex;
        justify-content: space-around;
    }

    .select-container{
      display: flex;
      align-items: center;
    }

    .formtab .sc-tab {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

    .trash {
      margin-left: 140%;
      margin-bottom: 12px;
    }
    .select-container .btn-g{
      margin: 10px 0 10px 0;
      margin-left: 30%;
      margin-right: 30%;
      text-align: center;
    }

    h1{
      font-size:35px ;
    }
  
    h2{
      font-size: 20px;
    }
      
    .select-container label {
      padding: 15px 40px;
    }


    .downloader-container {
      justify-content: flex-end;
    }

    .formtab .centrar-tab{
      justify-content: center;
      align-items: center;
      display: flexbox;
    }

    .sc .btn {
      background-color: #27AE60;
      color: white;
      font-weight: bold;
      padding: 5px 15px;
      margin-bottom: 10px;
      cursor: pointer;
      float: right;
      border: 1px solid #000000;
      border-radius:6px;
    }
    
    .btn-inscribir {
      margin: 60px 0 30px 0;
      text-align: center;
      width: 100%;
    }
    
    .btn-inscribir label {
      padding: 15px 15px;
    }
    .select-container .btn-g{
      margin: 10px 0 10px 0;
      margin-left: 15%;
      margin-right: 15%;
      width: 100%;
      padding: 10px 3px;
    }
  
  
/*Formularios de login y registro*/
   

    .frm-l {
      margin-top: 300px;
      margin-right: 100%;
      margin-bottom: 300px;
      width: 400px;
    }
    
    .frm-r {
      margin-top: 100px;
      margin-right: 50%;
      margin-bottom: 100px;
      width: 400px;
    }
.form-horizontal .form-options input[type="checkbox"] {
  margin-right: 180px;
}
}

@media (min-width:300px){
  .bar-scroll{
  width: 100%; 
  height: 100%; 
  overflow-x: auto;
  }
}

@media (max-width:625px){
  #freg{
    background-image: none;
  }
  .frm-l {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .frm-r {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .form-options .olvidar{
      display: flex;
      margin-left: 15%;
      margin-right: 15%;
      padding: 10px 0;
      font-size: medium;
  }

  .form-horizontal .form-options label {
    margin-right: 0%;
  }

  .form-horizontal .form-options input[type="checkbox"] {
    margin-right: 55%;

  }

  .sc .btn {
    background-color: #27AE60;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    float: right;
    border: 1px solid #000000;
    border-radius:6px;
  }
  
  .btn-inscribir {
    margin: 60px 0 30px 0;
    text-align: center;
    width: 100%;
  }
  
  .btn-inscribir label {
    padding: 15px 10px;
  }
  .select-container .btn-g{
    margin: 10px 0 10px 0;
    margin-left: 28%;
    margin-right: 10%;
    width: 100%;
    padding: 10px 5px;
  }

  h1{
    font-size:30px ;
  }

  h2{
    font-size: 18px;
}

select{
  font-size: 14px;
}

.sc h4{
  font-size: 15px;
}

.btn-modificar-perfil label {
  padding: 15px 14px;
}
}

}